<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    " http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">  
    
  <mapper namespace="com.tayo2000.ssm.mapper.AuthMapper">
  
  	<select id="list" resultType="Auth">
  		select * from auth order by authId
  	</select>
  	
  	<select id="getTotalRecord"  resultType="Integer">
  		select count(1) from auth
  	</select>
  	
  	<select id="listByPagination" parameterType="Pager" resultType="Auth">
		select * from auth 
		ORDER BY authId  LIMIT #{startPos},#{pageSize};
	</select>
  	
  	<select id="listByRoleId"   parameterType="String" resultType="Auth">
  		select * from auth where authId in (
  			select authId from authrole where roleId=#{value}
  		)
  	</select>
  	
   <select id="RevListByRoleId"   parameterType="String" resultType="Auth">
  		select * from auth where authId not in (
  			select authId from authrole where roleId=#{value}
  		)
  	</select>
  	 	
  	<select id="listById" parameterType="String" resultType="Auth">
  		select * from auth where authId=#{value}  order by authId
  	</select>
  	
	<delete id="delete" parameterType="String">
		delete from auth where authId=#{value} 
	</delete>
	
	<insert id="add" parameterType="Auth">
		insert into auth(authId,authName,authDesc,url,moduleId) 
		values(#{authId},#{authName},#{authDesc},#{url},#{moduleId})
	</insert>
	
	<update id="update" parameterType="Auth">
    	update auth
    	set authName=#{authName},authDesc=#{authDesc},url=#{url},moduleId=#{moduleId}
    	where authId=#{authId}
    </update>
  </mapper>