<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    " http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">  
    
  <mapper namespace="com.tayo2000.ssm.mapper.UserRoleMapper">
  	
  	<select id="list" resultType="Auth">
  		select * from userrole order by userroleId
  	</select>
  	
	<delete id="delete" parameterType="UserRole">
		delete from userrole where  userName=#{userName}  and roleId=#{roleId}
	</delete>
	
	<delete id="deleteByUserName" parameterType="String">
		delete from userrole where userName=#{value}
	</delete>
	
	<insert id="add" parameterType="UserRole">
		insert into userrole(userName,roleId) 
		values(#{userName},#{roleId})
	</insert>
	
	
	
  </mapper>